.chartsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.gridItem {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.activityContainer {
    grid-column: 1/4;
    grid-row: 1/3;
    background: #FBFBFB;
}

.intensityContainer {
    grid-column: 2/3;
    grid-row: 3/5;
    background: #282D30;

}

.milesContainer {
    grid-column: 1/2;
    grid-row: 3/5;
    background: #FF0000;
}

.scoreContainer {
    grid-column: 3/4;
    grid-row: 3/5;
    background: #FBFBFB;
}

.totalNutrimentsContainer {
    grid-column: 4/5;
    grid-row: 1/2;
    background: #FBFBFB;
    height: 124px;
    width: 258px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.proteinsNutrimentsContainer {
    background: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    height: 124px;
    width: 258px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caloriesIcon {
    background: #FF0000;
    mix-blend-mode: normal;
    opacity: 0.07;
    border-radius: 6px;
    height: 60px;
    width: 60px;
}

.caloriesTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #282D30;
}

.caloriesSubTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
}


.proteinsIcon {
    background: #4AB8FF;
    mix-blend-mode: normal;
    opacity: 0.07;
    border-radius: 6px;
    height: 60px;
    width: 60px;
}

.glucidesNutrimentsContainer {
    grid-area: 3/ 4/ 4/ 5;
    background: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    height: 124px;
    width: 258px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.glucidesIcon {
    background: #F9CE23;
    mix-blend-mode: normal;
    opacity: 0.1;
    border-radius: 6px;
    height: 60px;
    width: 60px;
}

.lipidesNutrimentsContainer {
    grid-area: 4/ 4/ 5/ 5;
    background: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    height: 124px;
    width: 258px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lipidesIcon {
    background: rgba(253, 81, 129);
    mix-blend-mode: normal;
    opacity: 0.07;
    border-radius: 6px;
    height: 60px;
    width: 60px;
}

tspan {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    padding: 10px;
}
